In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [2]:
try:
    os.chdir("/users/YoungWoo/kmr_study/project_data/")
    print("Directory changed")
except OSError:
    print("Cant't change the Current Working Directory")

Cant't change the Current Working Directory

In [3]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2015' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2015.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file, encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

[]

ValueError: No objects to concatenate

In [ ]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2015.csv"
file_path_output

In [ ]:
df_seoul_bus = pd.read_csv('seoulsi_2015.csv', encoding='UTF-8') #깨진다면 encoding='UTF-8'

In [ ]:
df_seoul_bus #관악구 버스정류장ARS번호 211

In [ ]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [ ]:
df_seoul_bus.head()

In [ ]:
#data[data["이름"].str.contains("아")]
#df_seoul_bus[df_seoul_bus["버스정류장ARS번호"].str.contains("21000")]
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
#df_seoul_bus

In [ ]:
df_seoul_bus.head()

In [ ]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2015.csv",encoding='UTF-8')

In [ ]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2016' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2016.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

In [ ]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2016.csv"
file_path_output

In [ ]:
df_seoul_bus = pd.read_csv('seoulsi_2016.csv', encoding = 'UTF-8') #깨진다면 encoding='UTF-8'

In [ ]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [ ]:
df_seoul_bus.head()

In [ ]:
#data[data["이름"].str.contains("아")]
#df_seoul_bus[df_seoul_bus["버스정류장ARS번호"].str.contains("21000")]
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)

In [ ]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2016.csv",encoding='UTF-8')

In [ ]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2017' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2017.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

In [ ]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2017.csv"
file_path_output

In [ ]:
df_seoul_bus = pd.read_csv('seoulsi_2017.csv', encoding = 'UTF-8')

In [ ]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [ ]:
df_seoul_bus.head()

In [ ]:
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
df_seoul_bus

In [ ]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2017.csv",encoding='UTF-8')

In [ ]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2018' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2018.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

In [ ]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2018.csv"
file_path_output

In [ ]:
df_seoul_bus = pd.read_csv('seoulsi_2018.csv', encoding = 'UTF-8')

In [ ]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [ ]:
df_seoul_bus.head()

In [ ]:
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
df_seoul_bus

In [ ]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2018.csv",encoding='UTF-8')

In [3]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2019' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2019.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

['/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201909.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201908.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201906.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201912.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201907.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201911.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201905.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201904.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201910.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201901.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201903.csv', '/Users/YoungWoo/kmr_study/project_data/2019/BUS_STATION_BOARDING_MONTH_201902.csv']

In [4]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2019.csv"
file_path_output

PosixPath('/users/YoungWoo/kmr_study/project_data/seoulsi_2019.csv')

In [5]:
df_seoul_bus = pd.read_csv('seoulsi_2019.csv', encoding = 'UTF-8')

In [6]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [ ]:
df_seoul_bus.head()

In [7]:
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
df_seoul_bus

,사용일자,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수
69,20190901,5413번(시흥~고속터미널),21101,서울미술고.인헌중고,142,222
7199687,20190505,N61번(상계동차고지~양천공영차고지),21101,서울미술고.인헌중고,4,16
7200348,20190505,N15번(사당역~우이동),21101,서울미술고.인헌중고,2,1
7200539,20190505,N15번(우이동~사당역),21101,서울미술고.인헌중고,2,0
7216518,20190505,5413번(시흥~고속터미널),21101,서울미술고.인헌중고,163,156
...,...,...,...,...,...,...
7827287,20190521,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,110,1
3687956,20191205,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,140,1
983778,20190926,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,114,1
10169857,20191021,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,144,0
3086068,20190620,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,119,0

In [8]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2019.csv",encoding='UTF-8')

In [9]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/2020' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_2020.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'BUS_STATION_BOARDING_MONTH_*')) # glob함수로 BUS_STATION_BOARDING_MONTH_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='cp949') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

['/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202008.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202009.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202002.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202003.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202001.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202004.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202010.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202011.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202005.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202007.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202006.csv', '/Users/YoungWoo/kmr_study/project_data/2020/BUS_STATION_BOARDING_MONTH_202012.csv']

In [10]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_2020.csv"
file_path_output

PosixPath('/users/YoungWoo/kmr_study/project_data/seoulsi_2020.csv')

In [11]:
df_seoul_bus = pd.read_csv('seoulsi_2020.csv', encoding = 'UTF-8')

/Users/YoungWoo/opt/anaconda3/envs/kmr_base/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1,2,3,4,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [13]:
df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
df_seoul_bus

,사용일자,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수
284,20200801.0,N15번(사당역~우이동),21101,서울미술고.인헌중고,2.0,4.0
5132464,20200113.0,641번(문래동~양재동),21101,서울미술고.인헌중고,341.0,429.0
8227385,20201101.0,5528번(가산동~사당역),21101,서울미술고.인헌중고,108.0,67.0
14020676,20201229.0,N15번(우이동~사당역),21101,서울미술고.인헌중고,5.0,2.0
5128480,20200113.0,643번(양천차고지~강남역),21101,서울미술고.인헌중고,185.0,407.0
...,...,...,...,...,...,...
4186797,20200319.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,85.0,0.0
10222469,11110990.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,127.0,0.0
8933639,20201119.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,108.0,1.0
1263667,20200902.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,87.0,0.0
1411358,20200906.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,44.0,0.0

In [14]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_t2020.csv",encoding='UTF-8')

In [15]:
import glob

input_file = r'/Users/YoungWoo/kmr_study/project_data/' # csv파일들이 있는 디렉토리 위치
output_file = r'/Users/YoungWoo/kmr_study/project_data/seoulsi_total.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'seoulsi_t*')) # glob함수로 seoulsi_t로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,encoding='UTF-8') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

['/Users/YoungWoo/kmr_study/project_data/seoulsi_total.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2017.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2016.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2015.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2018.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2019.csv', '/Users/YoungWoo/kmr_study/project_data/seoulsi_t2020.csv']

In [16]:
folder = Path("/users/YoungWoo/kmr_study/project_data/")
file_path_output = folder / "seoulsi_total.csv"
file_path_output

PosixPath('/users/YoungWoo/kmr_study/project_data/seoulsi_total.csv')

In [17]:
df_seoul_bus = pd.read_csv('seoulsi_total.csv', encoding = 'UTF-8')

In [18]:
df_seoul_bus = df_seoul_bus.loc[ :, ['사용일자','노선명','버스정류장ARS번호','역명','승차총승객수','하차총승객수']]

In [19]:
#df_seoul_bus = df_seoul_bus[(df_seoul_bus["버스정류장ARS번호"] >= '21100') & (df_seoul_bus["버스정류장ARS번호"]< '22000') ]
df_seoul_bus = df_seoul_bus.sort_values(by=["버스정류장ARS번호"], axis = 0)
df_seoul_bus

,사용일자,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수
0,20170406.0,641번(문래동~양재동),21101,서울미술고.인헌중고,444.0,407.0
1154609,20150506.0,8541번(호압사~강남역),21101,서울미술고.인헌중고,0.0,5.0
1154608,20150713.0,461번(장지공영차고지~여의도),21101,서울미술고.인헌중고,280.0,276.0
1154607,20150829.0,5524번(난곡차고지~중앙대학),21101,서울미술고.인헌중고,339.0,567.0
1154606,20150829.0,5528번(가산동~사당역),21101,서울미술고.인헌중고,258.0,173.0
...,...,...,...,...,...,...
1700813,20150706.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,149.0,0.0
1700812,20150709.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,140.0,2.0
1700811,20150726.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,114.0,2.0
574112,20171015.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,81.0,2.0
6188997,20200906.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,44.0,0.0

In [20]:
df_seoul_bus = df_seoul_bus.to_csv("seoulsi_total_f.csv",encoding='UTF-8')

In [25]:
df_seoul_bus = pd.read_csv("seoulsi_total_f.csv",encoding='UTF-8')
df_seoul_bus

,Unnamed: 0,사용일자,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수
0,0,20170406.0,641번(문래동~양재동),21101,서울미술고.인헌중고,444.0,407.0
1,1154609,20150506.0,8541번(호압사~강남역),21101,서울미술고.인헌중고,0.0,5.0
2,1154608,20150713.0,461번(장지공영차고지~여의도),21101,서울미술고.인헌중고,280.0,276.0
3,1154607,20150829.0,5524번(난곡차고지~중앙대학),21101,서울미술고.인헌중고,339.0,567.0
4,1154606,20150829.0,5528번(가산동~사당역),21101,서울미술고.인헌중고,258.0,173.0
...,...,...,...,...,...,...,...
6188993,1700813,20150706.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,149.0,0.0
6188994,1700812,20150709.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,140.0,2.0
6188995,1700811,20150726.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,114.0,2.0
6188996,574112,20171015.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,81.0,2.0
6188997,6188997,20200906.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,44.0,0.0

In [28]:
df_seoulsi_bus_coordinates = pd.read_excel("seoulsi_bus_coordinates.xlsx")
df_seoulsi_bus_coordinates

,NODE_ID(노드ID),STTN_NM(정류소명칭),STTN_NO(정류소ID),CRDNT_X(X좌표),CRDNT_Y(Y좌표)
0,100000001,종로2가사거리,1001,126.987786,37.569764
1,100000002,창경궁.서울대학교병원,1002,126.996520,37.579179
2,100000003,명륜3가.성대입구,1003,126.998290,37.582709
3,100000004,종로2가.삼일교,1004,126.987507,37.568582
4,100000005,혜화동로터리.여운형활동터,1005,127.001694,37.586230
...,...,...,...,...,...
11000,124000435,명일동국민은행,25783,127.144183,37.553718
11001,124000436,명일동국민은행,25784,127.144301,37.553591
11002,124900110,고덕2단지,25988,127.162906,37.560282
11003,124900109,고덕초등학교,25989,127.165440,37.560067
11004,124900108,암사삼성.현대아파트,25990,127.128600,37.553307

In [32]:
df_seoulsi_bus_coordinates.columns = ['노드ID','역명','버스정류장ARS번호','X좌표','Y좌표']
df_seoulsi_bus_coordinates

            노드ID             역명  버스정류장ARS번호         X좌표        Y좌표
0      100000001        종로2가사거리        1001  126.987786  37.569764
1      100000002    창경궁.서울대학교병원        1002  126.996520  37.579179
2      100000003      명륜3가.성대입구        1003  126.998290  37.582709
3      100000004       종로2가.삼일교        1004  126.987507  37.568582
4      100000005  혜화동로터리.여운형활동터        1005  127.001694  37.586230
...          ...            ...         ...         ...        ...
11000  124000435        명일동국민은행       25783  127.144183  37.553718
11001  124000436        명일동국민은행       25784  127.144301  37.553591
11002  124900110          고덕2단지       25988  127.162906  37.560282
11003  124900109         고덕초등학교       25989  127.165440  37.560067
11004  124900108     암사삼성.현대아파트       25990  127.128600  37.553307

[11005 rows x 5 columns]

In [33]:
df_total = pd.merge(df_seoul_bus,df_seoulsi_bus_coordinates, on="버스정류장ARS번호", how='left')
df_total

,Unnamed: 0,사용일자,노선명,버스정류장ARS번호,역명_x,승차총승객수,하차총승객수,노드ID,역명_y,X좌표,Y좌표
0,0,20170406.0,641번(문래동~양재동),21101,서울미술고.인헌중고,444.0,407.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
1,1154609,20150506.0,8541번(호압사~강남역),21101,서울미술고.인헌중고,0.0,5.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
2,1154608,20150713.0,461번(장지공영차고지~여의도),21101,서울미술고.인헌중고,280.0,276.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
3,1154607,20150829.0,5524번(난곡차고지~중앙대학),21101,서울미술고.인헌중고,339.0,567.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
4,1154606,20150829.0,5528번(가산동~사당역),21101,서울미술고.인헌중고,258.0,173.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
...,...,...,...,...,...,...,...,...,...,...,...
6188993,1700813,20150706.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,149.0,0.0,120000443.0,신림복지관앞,126.919598,37.465145
6188994,1700812,20150709.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,140.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188995,1700811,20150726.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,114.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188996,574112,20171015.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,81.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188997,6188997,20200906.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,44.0,0.0,120000443.0,신림복지관앞,126.919598,37.465145

In [34]:
df_total = df_total.rename(columns = {'X좌표':'경도','Y좌표':'위도'})

,Unnamed: 0,사용일자,노선명,버스정류장ARS번호,역명_x,승차총승객수,하차총승객수,노드ID,역명_y,경도,위도
0,0,20170406.0,641번(문래동~양재동),21101,서울미술고.인헌중고,444.0,407.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
1,1154609,20150506.0,8541번(호압사~강남역),21101,서울미술고.인헌중고,0.0,5.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
2,1154608,20150713.0,461번(장지공영차고지~여의도),21101,서울미술고.인헌중고,280.0,276.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
3,1154607,20150829.0,5524번(난곡차고지~중앙대학),21101,서울미술고.인헌중고,339.0,567.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
4,1154606,20150829.0,5528번(가산동~사당역),21101,서울미술고.인헌중고,258.0,173.0,120000002.0,서울미술고.인헌중고,126.965475,37.476342
...,...,...,...,...,...,...,...,...,...,...,...
6188993,1700813,20150706.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,149.0,0.0,120000443.0,신림복지관앞,126.919598,37.465145
6188994,1700812,20150709.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,140.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188995,1700811,20150726.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,114.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188996,574112,20171015.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,81.0,2.0,120000443.0,신림복지관앞,126.919598,37.465145
6188997,6188997,20200906.0,"5522번(A,난곡방향,난곡~난곡)",21920,신림복지관앞,44.0,0.0,120000443.0,신림복지관앞,126.919598,37.465145

In [39]:
df_total = df_total.drop(['Unnamed: 0','역명_y'],axis=1)

In [41]:
df_total = df_total.rename(columns = {'역명_x':'역명'})

In [42]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6188998 entries, 0 to 6188997
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        float64
 1   노선명         object
 2   버스정류장ARS번호  int64
 3   역명          object
 4   승차총승객수      float64
 5   하차총승객수      float64
 6   노드ID        float64
 7   X좌표         float64
 8   Y좌표         float64
dtypes: float64(6), int64(1), object(2)
memory usage: 601.2+ MB

In [43]:
df_total.to_csv("f_total.csv")