In [1]:
import pandas as pd 
import numpy as np 

# 데이터 전처리 : 항목값에 대한 index 생성 
from mlxtend.preprocessing import TransactionEncoder

# 지지도 계산 
from mlxtend.frequent_patterns import apriori

#연관규칙 
from mlxtend.frequent_patterns import association_rules

In [4]:
df_raw = pd.read_csv ('상품구매.csv', engine='python', encoding='euc-KR')
df_raw

       ID    PRODUCT
0    C-11   BAGUETTE
1    C-11    HERRING
2    C-11    AVOCADO
3    C-11  ARTICHOKE
4    C-11   HEINEKEN
..    ...        ...
135  C-30       COKE
136  C-30     TURKEY
137  C-30  ICE CREAM
138  C-30       SODA
139  C-30        HAM

[140 rows x 2 columns]

In [7]:
#id마다 구매한 내역을 묶어서 리스트화
ID=list(set(df_raw['ID']))
ID.sort()

list_association = []
for i in ID :
    tmp_list = list(df_raw[df_raw['ID']==i]['PRODUCT'])
    tmp_list.sort()
    
    
    list_association.append(tmp_list)
    
for row in list_association:
    print(row)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [8]:
#전체를 데이터프레임화 하여 구매한 제품엔 true 아니면 false 설정

enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X=list_association)
df_asso = pd.DataFrame ( df_raw_enc, columns = enc.columns_)
df_asso

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True
5,False,True,True,True,False,False,True,False,False,False,True,True,False,False,False,False,False,False,True
6,True,False,False,False,False,True,True,True,False,False,True,False,True,False,False,True,False,False,False
7,False,False,False,True,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
8,False,False,False,False,True,False,False,False,True,False,True,True,False,True,False,False,True,True,False
9,True,False,False,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
10,False,True,True,True,True,False,False,True,False,False,True,True,False,False,False,False,False,False,False
11,False,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,True,False
12,False,False,False,False,True,False,False,True,True,False,True,True,False,True,False,False,True,False,False
13,True,False,False,True,False,True,True,False,False,False,True,False,True,False,False,True,False,False,False
14,False,False,False,False,False,True,True,True,False,False,True,False,True,False,True,True,False,False,False
15,True,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True
16,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False,False,True,False,True
17,False,True,False,False,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
18,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,True,True,False,True
19,False,False,False,False,True,False,True,False,False,True,False,False,True,True,False,False,True,False,True

In [12]:
v_min_sup = 0.3
df_freq = apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

    support                 itemsets
0      0.40                 (APPLES)
1      0.30              (ARTICHOKE)
2      0.40               (BAGUETTE)
3      0.55                (BOURBON)
4      0.50                   (COKE)
5      0.40            (CORNED BEEF)
6      0.60               (HEINEKEN)
7      0.40                (HERRING)
8      0.45              (ICE CREAM)
9      0.65                 (OLIVES)
10     0.30               (SARDINES)
11     0.40                   (SODA)
12     0.40                 (TURKEY)
13     0.30      (HEINEKEN, BOURBON)
14     0.50        (BOURBON, OLIVES)
15     0.40          (SODA, BOURBON)
16     0.40        (ICE CREAM, COKE)
17     0.30           (OLIVES, COKE)
18     0.35           (TURKEY, COKE)
19     0.30  (HEINEKEN, CORNED BEEF)
20     0.30   (CORNED BEEF, HERRING)
21     0.30      (HEINEKEN, HERRING)
22     0.30       (HEINEKEN, OLIVES)
23     0.40           (SODA, OLIVES)
24     0.35         (TURKEY, OLIVES)
25     0.40  (SODA, OLIVES, BOURBON)
26     0.30   (TURKEY, OLIVES, COKE)

In [14]:
df_asso_rule = association_rules(df_freq, metric='confidence', min_threshold=0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(HEINEKEN),(BOURBON),0.60,0.55,0.30,0.500,0.909,-0.030,0.900
1,(BOURBON),(HEINEKEN),0.55,0.60,0.30,0.545,0.909,-0.030,0.880
2,(BOURBON),(OLIVES),0.55,0.65,0.50,0.909,1.399,0.142,3.850
3,(OLIVES),(BOURBON),0.65,0.55,0.50,0.769,1.399,0.142,1.950
4,(SODA),(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
5,(BOURBON),(SODA),0.55,0.40,0.40,0.727,1.818,0.180,2.200
6,(ICE CREAM),(COKE),0.45,0.50,0.40,0.889,1.778,0.175,4.500
7,(COKE),(ICE CREAM),0.50,0.45,0.40,0.800,1.778,0.175,2.750
8,(COKE),(OLIVES),0.50,0.65,0.30,0.600,0.923,-0.025,0.875
9,(TURKEY),(COKE),0.40,0.50,0.35,0.875,1.750,0.150,4.000
10,(COKE),(TURKEY),0.50,0.40,0.35,0.700,1.750,0.150,2.000
11,(HEINEKEN),(CORNED BEEF),0.60,0.40,0.30,0.500,1.250,0.060,1.200
12,(CORNED BEEF),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600
13,(CORNED BEEF),(HERRING),0.40,0.40,0.30,0.750,1.875,0.140,2.400
14,(HERRING),(CORNED BEEF),0.40,0.40,0.30,0.750,1.875,0.140,2.400
15,(HEINEKEN),(HERRING),0.60,0.40,0.30,0.500,1.250,0.060,1.200
16,(HERRING),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600
17,(HEINEKEN),(OLIVES),0.60,0.65,0.30,0.500,0.769,-0.090,0.700
18,(SODA),(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
19,(OLIVES),(SODA),0.65,0.40,0.40,0.615,1.538,0.140,1.560
20,(TURKEY),(OLIVES),0.40,0.65,0.35,0.875,1.346,0.090,2.800
21,(OLIVES),(TURKEY),0.65,0.40,0.35,0.538,1.346,0.090,1.300
22,"(SODA, OLIVES)",(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
23,"(SODA, BOURBON)",(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
24,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.40,0.800,2.000,0.200,3.000
25,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.40,1.000,2.000,0.200,inf
26,(OLIVES),"(SODA, BOURBON)",0.65,0.40,0.40,0.615,1.538,0.140,1.560
27,(BOURBON),"(SODA, OLIVES)",0.55,0.40,0.40,0.727,1.818,0.180,2.200
28,"(TURKEY, OLIVES)",(COKE),0.35,0.50,0.30,0.857,1.714,0.125,3.500
29,"(TURKEY, COKE)",(OLIVES),0.35,0.65,0.30,0.857,1.319,0.073,2.450
30,"(OLIVES, COKE)",(TURKEY),0.30,0.40,0.30,1.000,2.500,0.180,inf
31,(TURKEY),"(OLIVES, COKE)",0.40,0.30,0.30,0.750,2.500,0.180,2.800
32,(COKE),"(TURKEY, OLIVES)",0.50,0.35,0.30,0.600,1.714,0.125,1.625